body {
    color: rgb(0, 0, 0);
    background-color: rgba(254, 254, 254, 0.979);
    font-family: Arial, sans-serif;
    margin: 0.0%;
    padding: 0.0%;
}

nav.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: left;
    padding: 30px 30px;
    text-decoration: none;

}

.navbar a:hover {
    background-color: darkgray;
    color: black;
}

img {
    border-radius: 1%;
}

table {
    width: 100%;
    border: 5px solid #000;
}

th,
td {
    font-family: Arial, Helvetica, sans-serif;
    width: 39%;
    text-align: left;
    vertical-align: top;
    border: 5px solid #000;
    border-spacing: 10;
}

img {
    border-radius: 5%;
}

audio{
    background-color: rgb(255, 255, 255);
}

